.Home {
  display: flex;
  align-items: center;
  margin-top: 3em;
}

.homeImg {
  max-width: 55rem;
  padding-left: 6em;
}

.homeContent {
  font-size: 20px;
  padding-left: 3em;
  line-height: 3em;
}

ul {
  list-style: none;
}

.homeImg,
.homeContent {
  flex: 0 1 50%;
}
