.Healthy-Resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.macros {
  width: 100vh;
  padding: 3em;
}

.resource {
  text-decoration: none;
  color: rgb(13, 109, 253);
}
