.mydailycalories,
.mymeals {
  padding: 55px;
  display: flex;
  flex-direction: column;
}

.customform {
  padding: 35px;
  margin: 0 auto;
}

.customform input {
  padding: 10px;
  margin: 5px;
}

.customform button {
  padding: 10px;
  margin: 5px;
}

.calories {
  padding: 15px;
}
